
*{
    font-family: Helvetica;
}
.Discoverimg{
    background-image: url("../src/assets/Discoverimg.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

.heroBG{
    background-image:url("../src/assets/landingPageBg.jpg") ;
}